h1{
    text-align: center;
}
.text{
    display: flex;
    justify-content: center;
    height:30px;
}
.button{
    display: flex;
    justify-content: center;
}
.c1{
	transform: scale(1);
	margin: 0 5px 0 0px;
    position: relative;
    left: 310px;
}
.c2{
	transform: scale(1);
	margin: 0 5px 0 0px;
    position: relative;
    left: 310px;
}
.c3{
	transform: scale(1);
	margin: 0 5px 0 0px;
    position: relative;
    left: 310px;
}
h3{
    position: relative;
    left: 310px;
}


