/* ヘッダースタイル */
.header {
    width: 100%;
    box-sizing: border-box;
    background-color: #ede4cd;
    padding: 20px 20px 10px; /* 調整済みパッド */
    display: grid;
    grid-template-columns: 1fr 1fr; /* 同じ幅の2列 */
    justify-content: space-between; /* 左右のセクションを分離する機能を追加 */
    align-items: center;
    z-index: 10; /* ヘッダーの z-index を設定 */
}

.left {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.logo {
    margin-right: 10px;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    width: 300px;
}

.search button {
    margin-left: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative; /* 追加された位置：相対 */
    top: 10px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    width: 400px;
}

.search-button {
    height: 30px;
    margin-top: auto;
    margin-left: -32px; /* ボタンを入力フィールド内に移動させる */
    z-index: 1; /* ボタンを手前に表示するために必要な場合に追加してください */
    background: none; /* 背景をなくす */
    border: none; /* 枠をなくす */
    padding: 0; /* パディングをリセット */
    position: absolute; /* 追加された位置：絶対 */
    top: 4px; /* ボタンを10px下に移動させる */
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    z-index: 10; /* 右側の要素にも z-index を設定 */
    position: relative; /* 追加された位置：相対 */
    top: -40px;
    right: 15px;
}

.right a,
.sidebar-toggle {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

hr {
    border-color: #752100;
    border-width: 0.5px;
    width: 100%;
    position: relative;
    top: -20px;
}
