/* ヘッダースタイル */
header {
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* ヘッダーの z-index を設定 */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.logo {
    margin-right: 10px;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    width: 300px;
}

.search button {
    margin-left: 10px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    width: 400px;
}

.search-button {
    margin-left: -37px; /* ボタンを入力フィールド内に移動させる */
    z-index: 1; /* ボタンを手前に表示するために必要な場合に追加してください */
    height: 35px;
    background: none; /* 背景をなくす */
    border: none; /* 枠をなくす */
    padding: 0; /* パディングをリセット */
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    z-index: 10; /* 右側の要素にも z-index を設定 */
}

.right a,
.sidebar-toggle {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.left, .right {
    width: 50%;
    box-sizing: border-box;
}

.grumble{
    /* I would like to see Kota work a little harder as a leader. */
    /* I hope sumi is not too proud. */
}