.ranking {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ranking-list {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.rproduct {
    background-color: #f2f2f2;
    width: calc(50% - 10px); /* 幅を50%に設定し、右側の余白を10pxに調整 */
    display: flex;
    flex-direction: column; /* 縦方向に配置するように変更 */
    border: 1px solid #ccc;
    border: 2px solid #000000;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rproduct img {
        background-color: #f2f2f2;
        border-radius: 10px;
        display: inline-block;
        width: 100%; /* 画像を親要素の100%に設定 */
        height: 120px; /* 高さを自動調整 */
}

.rproduct-name {
    background-color: #f2f2f2;
    border: 2px solid #000000;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    white-space: normal; /* テキストを折り返すように設定 */
}

h2 {
    margin:0px;
    border: 2px solid #000000;
}

h3{
    margin:0px;
}

span.price-class{
    font-size: 24px; color: #008BCC; font-weight: bold;
}

.ranking_img {
    margin: 0 4px 0 0;
    border: 2px solid #000000;
    
}

h1{
    color: gold;
    text-align: center;
}

body {
    background-color: #ede4cd;
  }