/* サイドバーボタン */
.menubtn {
    position: fixed;
    right: 10px;
    bottom: 10px; /* 下に表示するための追加 */
    z-index: 101;
    background: #604e3e;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

/*ボタン内側*/
.menubtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: #fff;
    width: 45%;
}

.menubtn span:nth-of-type(1) {
    top:13px;    
}

.menubtn span:nth-of-type(2) {
    top:19px;
}

.menubtn span:nth-of-type(3) {
    top:25px;
}

.menubtn span:nth-of-type(3)::after {
    content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top:5px;
    left:-2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.menubtn.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.menubtn.active span:nth-of-type(2) {
    opacity: 0;
}

.menubtn.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.menubtn.active span:nth-of-type(3)::after {
    content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
    top:5px;
    left:4px;
}

/* サイドバー */
#g-nav {
    /* position: fixed;にし、z-indexの数値を大きくして前面へ */
    position: fixed;
    z-index: 100;
    /* ナビのスタート位置と形状 */
    top: 0;
    right: -20%; /* 横幅の20% */
    width: 20%; /* 横幅の20% */
    height: 100vh; /* ナビの高さ */
    background: #8d7558;
    /* 動き */
    transition: all 0.6s;
    opacity: 85%;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 100; 
    width: 20%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 100;
    top:50%;
    left:45%;
    transform: translate(-50%,-50%);
    opacity: 100%;
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center;
    display: block;
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
    opacity: 100%;
}

#g-nav details{
    color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
    opacity: 100%;
}

.gnavi {
    display: flex;
    flex-direction: column; /* 縦に並べるように指定 */
    margin: 0 0 50px 0;
    list-style: none;
}

.gnavi li a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: #333;
    margin-bottom: 20px; /* 必要であれば余白を残す */
}

.gnavi li {
    /* margin-bottom: 20px; は削除または調整する */
}

/*==================================================
　5-3-3 左から右に線が伸びる（下部）
===================================*/
.gnavi li a {
    /*線の基点とするためrelativeを指定*/
    position: relative;
}

.gnavi li.current a,
.gnavi li a:hover {
    color: #fff;
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background: #fff;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

/*========= レイアウトのためのCSS ===============*/

.lead{
  padding: 50px 20px;
}