h1 {
    color:#b8860b;
    position: relative;
    width: 500px;
    left: 400px;
}

.region {
    position: relative;
    width: 900px;
    height: 800px;
    left: 200px;
    border: 2px solid #b8860b;
}

_:lang(x)::-internal-media-controls-overlay-cast-button, .ho {
    width:200px;
    position: relative;
    left: 750px; /* 左端からの位置を0に設定 */
    top: 10px; /* 上端からの位置を0に設定 */
  }

.ho {
    width:200px;
    position: relative;
    left: 630px; /* 左端からの位置を0に設定 */
    top: 10px; /* 上端からの位置を0に設定 */
}

.to {
    position: relative;
    left: 650px;
    top: -10px;
    width:200px;
}

.kan {
    position: relative;
    left:665px;
    top: -20px;
    width:200px;
}

.tyu {
    position: relative;
    left: 460px;
    top: -260px;
    width:200px;
}

.kik {
    position: relative;
    left: 370px;
    top: -480px;
    width:200px;
}

.tyugo {
    position: relative;
    left: 220px;
    top: -730px;
    width:130px;
}

.siko {
    position: relative;
    left: 230px;
    top: -730px;
    width:130px;
}

.kyusy {
    position: relative;
    left: 20px;
    top: -990px;
    width:200px;
}

.rink{
    width: 700px;
    margin: 10px 300px;
}

a{
    text-decoration: none;
}

h2.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}

.kuhaku{
    width:400px;
    height: 700px;
}