body{
    background-color: #ede4cd;
}
h1.tiiki {
    color:#ae7c58;
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.region {
    position: relative;
    background-image: url("../gahaku/haikei03.png");
    background-size: cover;
    width: 700px;
    height: 600px;
    margin: 0 auto;
}

.animation{
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-duration: 1.5s;
}

.ugokitate{
      animation-name: anim_v;
}
@keyframes anim_v {
    0% {
        transform: translate(0, 0px);
    }
    /*ÃƒÂ¥Ã‚ÂÃ‚Â³ÃƒÂ£Ã‚ÂÃ…â€™ÃƒÂ§Ã‚Â¸Ã‚Â¦ÃƒÂ£Ã‚ÂÃ‚Â«ÃƒÂ§Ã‚Â§Ã‚Â»ÃƒÂ¥Ã¢â‚¬Â¹Ã¢â‚¬Â¢ÃƒÂ£Ã‚ÂÃ¢â€žÂ¢ÃƒÂ£Ã¢â‚¬Å¡Ã¢â‚¬Â¹ÃƒÂ¨Ã‚Â·Ã‚ÂÃƒÂ©Ã¢â‚¬ÂºÃ‚Â¢ÃƒÂ¯Ã‚Â¼Ã‹â€ +ÃƒÂ£Ã‚ÂÃ‚Â§ÃƒÂ¤Ã‚Â¸Ã…Â ÃƒÂ£Ã‚ÂÃ‚Â«ÃƒÂ£Ã¢â€šÂ¬Ã‚Â-ÃƒÂ£Ã‚ÂÃ‚Â§ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ£Ã‚ÂÃ‚Â«ÃƒÂ§Ã‚Â§Ã‚Â»ÃƒÂ¥Ã¢â‚¬Â¹Ã¢â‚¬Â¢ÃƒÂ£Ã‚ÂÃ‚Â§ÃƒÂ£Ã‚ÂÃ‚ÂÃƒÂ£Ã¢â‚¬Å¡Ã¢â‚¬Â¹ÃƒÂ¯Ã‚Â¼Ã¢â‚¬Â°*/
    100% {
        transform: translate(0, 60px);
    }
}

.ugokinaname{
      animation-name: anim_h;
}
@keyframes anim_h {
    0% {
        transform: translate(0px, 0);
    }
    /*ÃƒÂ¥Ã‚ÂÃ‚Â³ÃƒÂ£Ã‚ÂÃ…â€™ÃƒÂ¦Ã¢â‚¬â€œÃ…â€œÃƒÂ£Ã¢â‚¬Å¡Ã‚ÂÃƒÂ£Ã‚ÂÃ‚Â«ÃƒÂ§Ã‚Â§Ã‚Â»ÃƒÂ¥Ã¢â‚¬Â¹Ã¢â‚¬Â¢ÃƒÂ£Ã‚ÂÃ¢â€žÂ¢ÃƒÂ£Ã¢â‚¬Å¡Ã¢â‚¬Â¹ÃƒÂ¨Ã‚Â·Ã‚ÂÃƒÂ©Ã¢â‚¬ÂºÃ‚Â¢ÃƒÂ¯Ã‚Â¼Ã‹â€ ÃƒÂ¤Ã‚Â¸Ã‚Â¡ÃƒÂ¦Ã¢â‚¬â€œÃ‚Â¹+ÃƒÂ£Ã‚ÂÃ‚Â§ÃƒÂ¥Ã‚Â·Ã‚Â¦ÃƒÂ¤Ã‚Â¸Ã…Â ÃƒÂ£Ã‚ÂÃ‚Â«ÃƒÂ£Ã¢â€šÂ¬Ã‚ÂÃƒÂ§Ã¢â‚¬Â°Ã¢â‚¬Â¡ÃƒÂ¦Ã¢â‚¬â€œÃ‚Â¹+-ÃƒÂ£Ã‚ÂÃ‚Â§ÃƒÂ¥Ã‚Â·Ã‚Â¦ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ£Ã‚ÂÃ‚Â«ÃƒÂ£Ã¢â€šÂ¬Ã‚Â-+ÃƒÂ£Ã‚ÂÃ‚Â§ÃƒÂ¥Ã‚ÂÃ‚Â³ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ£Ã‚ÂÃ‚Â«ÃƒÂ£Ã¢â€šÂ¬Ã‚Â--ÃƒÂ£Ã‚ÂÃ‚Â§ÃƒÂ¥Ã‚ÂÃ‚Â³ÃƒÂ¤Ã‚Â¸Ã…Â ÃƒÂ£Ã‚ÂÃ‚Â«ÃƒÂ§Ã‚Â§Ã‚Â»ÃƒÂ¥Ã¢â‚¬Â¹Ã¢â‚¬Â¢ÃƒÂ£Ã‚ÂÃ‚Â§ÃƒÂ£Ã‚ÂÃ‚ÂÃƒÂ£Ã¢â‚¬Å¡Ã¢â‚¬Â¹ÃƒÂ¯Ã‚Â¼Ã¢â‚¬Â°*/
    100% {
        transform: translate(100px, -50px);
    }
}

.ugokikaiten{
      animation-name: anim_r;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-direction: normal;
}

@keyframes anim_r {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.taiyo{
    width:200px;
    position: relative;
}

.hikouki{
    width:200px;
    position: relative;
    left: 200px;
    top: 80px;
}

.hikouki img {
    width: 150px;
    height: auto;
}

.tori{
    position: relative;
    width:200px;
    height: 100px;
    left: 100px;
    top: -150px;
}

_:lang(x)::-internal-media-controls-overlay-cast-button, .ho {
    width:200px;
    position: relative;
    left: 750px; /* ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â·Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â«Ãƒâ€šÃ‚Â¯ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢0ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â«ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¨Ãƒâ€šÃ‚Â­ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â®Ãƒâ€¦Ã‚Â¡ */
    top: 10px; /* ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¸Ãƒâ€¦Ã‚Â ÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â«Ãƒâ€šÃ‚Â¯ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢0ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â«ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¨Ãƒâ€šÃ‚Â­ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â®Ãƒâ€¦Ã‚Â¡ */
  }

.ho {
    width:200px;
    position: relative;
    left: 460px; /* ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â·Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â«Ãƒâ€šÃ‚Â¯ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢0ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â«ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¨Ãƒâ€šÃ‚Â­ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â®Ãƒâ€¦Ã‚Â¡ */
    top: -320px; /* ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¸Ãƒâ€¦Ã‚Â ÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â«Ãƒâ€šÃ‚Â¯ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢0ÃƒÆ’Ã‚Â£Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â«ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¨Ãƒâ€šÃ‚Â­ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â®Ãƒâ€¦Ã‚Â¡ */
}

.ho img {
width: 230px;
height: auto;
}

.to {
    position: relative;
    left: 475px;
    top: -320px;
    width:100px;
}

.to img {
width: 150px;
height: auto;
}

.kan {
    position: relative;
    left:490px;
    top: -330px;
    width:200px;
}

.kan img {
width: 120px;
height: auto;
}

.tyu {
    position: relative;
    left: 365px;
    top: -520px;
    width: 130px;
}

.tyu img {
width: 130px;
height: auto;
}

.kik {
    position: relative;
    left:300px;
    top: -665px;
    width:100px;
}

.kik img {
width: 120px;
height: auto;
}

.tyugo {
    position: relative;
    left: 200px;
    top: -850px;
    width: 100px;
}

.tyugo img {
width: 110px;
height: auto;
}

.siko {
    position: relative;
    left: 207px;
    top: -855px;
    width: 100px;
}

.siko img {
width: 115px;
height: auto;
}

.kyusy {
    position: relative;
    left: 70px;
    top: -1030px;
    width: 130px;
}

.kyusy img {
width: 145px;
height: auto;
}

.rink{
    width: 700px;
    margin: 10px auto;
}

a{
    text-decoration: none;
    color: #cd853f;
}

h1.ken {
    color:#b8860b;
    position: relative;
    width: 900px;
    margin: 0 auto;
}

h2.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}

.kuhaku{
    width:400px;
    height: 700px;
}