/* ページ全体のスタイル */
body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}

/* コンテナスタイル */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 商品情報のスタイル */
img{
  display: block;
  margin:auto;
}

i {
  display: block;
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

.kureka{
  padding: 29px;
}

.setumei{
  font-weight: bold;
}

p{
display:block;
text-align:center;
}

/* 数量選択 */
select {
  display:inline-block;
  padding: 8px; /* セレクトボックスの内部余白 */
  font-size: 16px; /* フォントサイズ */
  border: 1px solid #ccc; /* 境界線のスタイル */
  border-radius: 5px; /* 角丸 */
}

label {
  display: block;
  text-align: center;
  margin-bottom: 8px; /* ラベルとセレクトボックスの間の余白 */
}


/* ボタンスタイル */
a:not(#header,.menubtn,#g-nav) {
  display: block;
  text-align: center;
  background-color: #f8f8f8;
  color: #fff;
  padding: 20px;
  text-decoration: none;
  margin-top: 10px;
}

a:hover:not(#header,.menubtn,#g-nav) {
  background-color: #f8f8f8;
}

form{
  background-color:#eee9e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}

/* 商品説明スタイル */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

th {
  background-color: #f2f2f2;
}

/* 商品情報の詳細 */
h2 {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
.payment-options {
  display: flex;
  justify-content: space-between;
}

.payment-options div {
  flex-grow: 1;
  text-align: center;
}

.mishiyou{
  padding: 30px;
}



/* ページ遷移リンクのスタイル */
form[action="商品一覧URL"]:not(#header,.menubtn,#g-nav) {
  display: block;
  margin-top: 20px;
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
}

form[action="商品一覧URL"]:hover:not(#header,.menubtn,#g-nav) {
  text-decoration: underline;
}