/* ページ全体のスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* コンテナスタイル */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
}

/* 商品情報のスタイル */
img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

i {
  display: block;
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

/* 数量選択 */
label {
  display: block;
  text-align: center;
  margin-right: 10px;
}

select {
  width: 140px;
  padding: 5px;
  margin-left: 550px;
}

/* ボタンスタイル */
a {
  display: block;
  text-align: center;
  background-color: #ea7c0e;
  color: #fff;/* 文字色 */
  padding: 20px;
  text-decoration: none;
  margin-top: 10px;
}

a:hover {
  background-color: #ea7c0e;
}

/* 商品説明スタイル */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

/* 商品情報の詳細 */
h2 {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* 対応店舗のスタイル */
i {
  display: block;
  text-align: center;
  margin-top: 10px;
}

/* ページ遷移リンクのスタイル */
a[href="商品一覧のURL"] {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #3498db; /* リンク色を変更 */
}

a[href="商品一覧のURL"]:hover {
  text-decoration: underline;
}
