body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    float: left; /* ロゴを左に浮動させる */
}

.header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.ad {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px; /* adの上下に余白を追加 */
    padding: 10px;
    background-color: black;
    color: white;
}
.ranking {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ranking-list {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

/* ... (前回のスタイル) */

.rproduct {
    width: calc(50% - 10px); /* 幅を50%に設定し、右側の余白を10pxに調整 */
    display: flex;
    flex-direction: column; /* 縦方向に配置するように変更 */
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.rproduct img {
    width: 100%; /* 画像を親要素の100%に設定 */
    height: 120px; /* 高さを自動調整 */
}

.rproduct .product-description {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.rproduct-name {
    background-color: #f2f2f2;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    white-space: normal; /* テキストを折り返すように設定 */
}

h2 {
    margin:0px;
}

h3{
    margin:0px;
}